<%- include("partials/_header") %>
   <!-- body -->
        <!-- header -->
        <%- include("partials/_menu") %>
      <!-- end header inner -->
      <!-- about -->
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <h2>About Us</h2>
                <p>Hello, my name is Umurcan Erman, but known as uærman over the internet. I'm a back-end developer that spends time coding and drinking coffee...</p> 
                <a class="read_more" href="https://uaerman.dev">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="images/about_img.png" alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about -->
      <!-- footer -->
      <%- include("partials/_footer") %>
      <!-- end footer -->
   </body>
</html>